/build
/node_modules
/vendor
.editorconfig
.eslintignore
.eslintrc
.gitignore
.nvmrc
.prettierignore
.prettierrc.js
.stylelintignore
.stylelintrc.json
.wp-env.json
.DS_Store
*.php
LICENSE
composer.json
composer.lock
package.json
package-lock.json
